@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<meta charset="UTF-8" />
<h1>Thêm căn hộ</h1>
<form action="/CanHo/AddCanHo" method="post">
    <label>Mã căn hộ:</label><input type="text" name ="MaCanHo"/><br />
    <label>Tên chủ hộ:</label><input type="text" name ="TenChuHo"/><br />
    <input type="submit" value="Thêm" name="submit" id="them" />
</form>
